@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.mapboxgl-popup {
  z-index: 10;  /* Float above legend and map controls */
}

.mapboxgl-popup-content {
  padding: 0;  /* Remove default popup padding */
}

dialog::backdrop {
  /* Darker backdrop than default */
  backdrop-filter: brightness(66%) saturate(50%);
}

button:focus-visible {
  outline: 2px solid #339911;
}
